.custom-quill-editor .ql-container {
  max-height: 24rem; /* Limit editor height */
  overflow-y: auto;
}

.custom-quill-editor .ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.ql-toolbar.ql-snow {
  border: none
}
.ql-container.ql-snow {
  border: none
}

[type=radio] + div {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
